<div class="home-container">
  <!-- Banner -->
  <div class="banner">
    <h1>Bienvenido a Datos & Cifras</h1>
    <p>Explora insights valiosos a través de nuestras herramientas de encuestas.</p>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <h2>Nuestro compromiso</h2>
    <p>
      En Datos & Cifras, te ayudamos a tomar decisiones informadas basadas en datos confiables. 
      Nuestras encuestas están diseñadas para ofrecerte estadísticas precisas y análisis en tiempo real.
    </p>

    <div class="features">
      <div class="feature">
        <h3><a routerLink="/encuestas">Recopilación de Datos</a></h3>
        <p>Obtén respuestas rápidas y eficaces con nuestras herramientas automatizadas.</p>
      </div>
      <div class="feature">
        <h3>Visualización de Resultados(Proximamente)
        </h3>
        <p>Convierte tus datos en gráficos e informes comprensibles y visualmente atractivos.</p>
      </div>
      <div class="feature">
        <h3>Segmentación Avanzada(Proximamente)</h3>
        <p>Analiza tus resultados filtrando por categorías clave y audiencias específicas.</p>
      </div>
    </div>
  </div>
</div>
